<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Banners:</h1>

            <slick ng-if="haveData" class="mi-slick mi-fade" slides-to-show="1"
                   data="banners" dots="false" init-onload="true" infinite="true"
                    autoplay="true" fade="true" autoplaySpeed="1500" speed="1200" cssEase="easeInOut">
                <div ng-repeat="img in banners">
                    <img ng-src="{{ img }}" />
                </div>
            </slick>

        </div>
    </div>
</div>
